{% load staticfiles %}


<div id="a-pousada" class="grid9 bloco ativo" >
        <div class="fundo-pousada"><a class="fancybox" href="{% static "img/capa/slider3.jpg" %}" rel="gal-pousada"><img src="{% static "img/capa/slider3.jpg" %}" width="728px" /></a></div>
       
       <div class="sub-blocos">
          <div class="grid4 col2 subbloco">
            <p>A pousada Rabo do Lagarto está instalada em um ambiente de contemplação de grande beleza paisagística e, por isso mesmo foi projetada como uma grande arquibancada de frente para a Pedra Azul.</p>
            <p>O charme, a sofisticação, privacidade, a valorização das características locais, o respeito ao meio ambiente são ingredientes de uma mesma receita que dão sustentação à postura de hospitalidade da Pousada Rabo do Lagarto.</p>
            <p>Nosso objectivo é receber cada hóspede de maneira única, com muita atenção ao charme dos detalhes.</p>
           
            <br/>

            <p class="thumbs">
            <a class="fancybox" rel="gal-pousada" title="Bangalô 3 - Mosteiro dos Jerónimos e Vêneto" href="{% static "img/pousada/foto1.jpeg" %}"><img src="{% static "img/pousada/thumb1.jpg" %}"></a>
            <a class="fancybox" rel="gal-pousada" title="Bangalô 2 do lado direito e Bangalô 5 do lado esquerdo" href="{% static "img/pousada/foto2.jpeg" %}"><img src="{% static "img/pousada/thumb2.jpg" %}"></a>
            <a class="fancybox first" rel="gal-pousada" title="Bistrô - nossa cozinha, nosso orgulho" href="{% static "img/pousada/foto3.jpeg" %}"><img src="{% static "img/pousada/thumb3.jpg" %}"></a>
            <a class="fancybox" rel="gal-pousada" title="Sala na grama, em frente ao bistrô" href="{% static "img/pousada/foto4.jpeg" %}"><img src="{% static "img/pousada/thumb4.jpg" %}"></a>
            </p> 
        </div>
    </div>
</div>
