{% load staticfiles %}

<div id="projeto-ambiental" class="bloco grid9">

        <div class="grid4 first col2">
          <p>Visando a preservação do entorno do Parque da Pedra Azul, a pousada consultou o código de conduta da Assiciação Roteiros de Charme e o Plano de Manejo do Parque da Pedra Azul, elaborado pelo PNUD/CEPEMAR, para que a consrução fosse feita nos moldes adequados, sugerido por essas entidades.</p>
          <p style="text-align:right"><a href="http://issuu.com/wancharlesebastiaoquirino/docs/projeto_ambiental?mode=window&viewMode=singlePage&backgroundColor=%23222222" target="_blank" style="color:#ccc">Saiba mais</a></p>
       </div>
</div>                  
       
