{% load static %}
{% load i18n %}

{% get_static_prefix as STATIC_PREFIX %}
<div id="projeto-ambiental" class="bloco grid9">

        <div class="fundo-pousada"><a class="fancybox" href="{{ STATIC_PREFIX }}img/pousada/projeto-ambiental.jpg"  rel="gal-projeto"><img src="{{ STATIC_PREFIX }}img/pousada/projeto-ambiental.jpg"  width="728px" /></a></div>
       <div class="sub-blocos">
        <div class="grid4 first col2 subbloco" >
<div style="overflow-y:scroll;overflow-x:visible;height:440px;margin-bottom:10px;">
{% blocktrans %}
<p>A Pousada Rabo do Lagarto consultou o Código de Conduta Ambiental da Associação Roteiros de Charme e o Plano de Manejo do Parque Estadual da Pedra Azul, elaborado pelo PNUD/CEPEMAR, para elaboração do projeto arquitetônico.</p>
<p>Engenheiros, arquiteto e designer de interiores receberam cópias e indicação desses sites e onde encontrar os documentos acima para desenvolver o projeto já incorporando princípios ambientais desde a concepção da pousada. Já no treinamento do pessoal que trabalha na propriedade, os funcionários são direcionados a pensar de modo ambientalmente responsável.</p>
<p>A grande maioria são trabalhadores rurais incentivados a reaproveitar embalagens tetra Pack, garrafas pet, latas e outros vasilhames para produzir mudas e armazenar grãos, já colaborando com a prática do lixo mínimo.</p>
<p>A implantação da pousada caminhou em paralelo à implantação do jardim e do plantio de espécies a fim de reduzir o impacto ambiental e a preservação do cenário natural, fauna e flora e cultura locais.</p>
<p>Utilizamos economizadores de energia em todas as suítes, que corta a energia assim que o hóspede fecha as portas. As lâmpadas são, em sua maioria, fluorescentes. Todos os equipamentos elétricos são da linha moderna dos ambientalmente corretos.</p>
<p>O aquecimento de toda água da pousada é por energia solar, com alternador a gás.</p>
<p>A tinta utilizada na área externa e grande parte das internas foi a Bio Tinta BVC, marca que já fabrica esmalte sintético solúvel em água.</p>
<p>Produtos adversos ao meio ambiente são evitados e substituídos por soluções de receita caseira de combate a pragas.</p>
<p>Toda a obra da pousada foi feita por mão de obra local assim como todos os funcionários da propriedade o são.</p>
<p>Os avisos aos hóspedes quanto à necessidade de se preocupar com suas ações e impactos são dados, uma vez que estamos nas margens do Parque Estadual da Pedra Azul. Assim como eles ouvem uma rápida fala sobre insetos, pássaros e animais que transitam livremente pela propriedade.</p>
<p>A água vem de poço artesiano extraída por meio de bomba caneta que enche rapidamente as caixas, com consumo inexpressivo de energia.</p>
<p>Os vasos sanitários são de caixa acoplada com fluxo curto para evitar o consumo desnecessário de água.</p>
<p>Plano ambiental da pousada – trazer prioritariamente espécies que atraiam pássaros, abelhas e borboletas,  estabelecendo metas de plantio dessas espécies, levando-se em consideração o clima frio da região; acompanhar o desenvolvimento sadio das espécies, com calendário de poda, adubação orgânica e o resultado alcançado; acompanhar o movimento de formigas e pragas não permitindo a proliferação para que o combate não necessite de maior agressividade; não adubar nem irrigar excessivamente, evitando desperdício de água; manter o paisagismo dentro da paleta de cores azul, lilás, roxo, vinho, todos os tons de rosa, branco e verde; definir as metas do programa estabelecendo ampliação para o entorno numa integração com os confrontantes, estabelecendo prioridades; coletar sementes nativas de difícil reprodução.</p>
<p>Mobiliário – utilização de móveis reciclados em todas as dependências da pousada</p>
<p>Resíduos sólidos – diminuição do lixo, separação e venda para reciclagem</p>
<p>Estufa ecológica para secagem de roupas – potencialização do calor do sol para secagem de roupas e madeira das lareiras, utilizando a técnica do plástico estendido, aumentando a eficiência na secagem sem uso de energia elétrica</p>
<p>Comitê da Qualidade e Sustentabilidade – comitê formado por três funcionários eleitos pelos demais, para a tomada de decisão em questões ambientais e de gestão da pousada. </p>{% endblocktrans %}

</div>

          <p style="text-align:right"><a href="http://issuu.com/wancharlesebastiaoquirino/docs/projeto_ambiental?mode=window&viewMode=singlePage&backgroundColor=%23222222" target="_blank" style="color:#ccc">Saiba mais</a></p>
       </div>
       </div>
</div>                  
       
