/*
 * http://jsfiddle.net/KVyFH/
 *
 */

.galeria p { float:left;
   display: inline-block;
   position: relative; 
   margin:0px;padding:0px;
   text-align:center;
   color:white;
   z-index:1000;
}
.galeria p:before
{
   content: "";
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   background:black;
   z-index:-1;
   opacity: .5;
}


div.tarifas div.galeria{ width:406px;height:406px;}
div.galeria img {float:left;}
div.tarifas div.galeria p {width:406px;height:25px;top:-25px;font-size:12px;line-height:25px; font-family:"HelveticaNeue"}
div.tarifas ul.nav {width:406px;float:left;margin-left:8px;height:50px;}
div.tarifas ul.nav li{float:right;list-style:none;width:40px;margin-left:4px;}
ul.nav img {float:left;}
.galeria, ul.nav li{
    border:4px solid white;
    -moz-box-shadow: 0 0 20px 2px #ccc;
    -webkit-box-shadow: 0 0 20px 2px #ccc;
    box-shadow: 0 0 20px 2px #ccc;
}
