@import url("galeria.css");

@font-face {
	font-family: TrajanPro;
	src: url('../fonts/TrajanPro-Regular.otf');
}

@font-face {
	font-family: TrajanPro;
    font-weight:bold;
	src: url('../fonts/TrajanPro-Bold.otf');
}
@font-face {
	font-family: Maryan;
	src: url('../fonts/Maryam-Regular.otf');
}

@font-face {
    font-family: HelveticaNeue;
    src: url('../fonts/HelveticaNeueLTStd-It.otf');
}

@font-face{ 
    font-family: ConeriaScriptDemo;
    src: url('../fonts/ConeriaScriptDemo.ttf');
}

.TrajanPro { font-family: TrajanPro; }

.container {
	width: 978px;
	margin: 0 auto;
}

.container-remove-barras { clear:both;width:100%;max-width:2040px; overflow:hidden;}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .col1, .col2, .col3, .col4 {
	float: left;
	margin-left: 30px;
}
.grid1 {
	width: 54px;
}
.grid2 {
	width: 138px;
}
.grid3 {
	width: 222px;
}
.grid4 {
	width: 306px;
}
.grid5 {
	width: 390px;
}
.grid6 {
	width: 474px;
}
.grid7 {
	width: 558px;
}
.grid8 {
	width: 642px;
}
.grid9 {
	width: 726px;
}
.grid10 {
	width: 810px;
}
.grid11 {
	width: 894px;
}
.first {
	margin-left: 0;
	clear: left;
}
.clear {clear:both !important;}

body {
 background-color:white;   
   width:100%; 
 }

a {
    
text-decoration:none;
}

div.menu { text-align:right;} 
div.menu { text-align:left;}
div.menu ul {float:right}
div.submenu ul {float:none}

div.menu li{  font-family:TrajanPro; padding:0px 10px;display:block;height:80px;float:left;margin-left:10px;}
div.menu a { color:#666666;font-size:14px;line-height:40px;display:block;margin-top:20px;}
div.menu a img{ position:relative;top:5px;margin-right:5px;width:40px;}
div.submenu li{margin-left:10px; margin-right:0px;}
div.submenu a {color:#000;margin:0px;display:block;line-height:80px;}

p.login { font-size:12px; font-family:"Helvetica"; font-weight:oblique;text-align:right; }
p.login a {color:#ccc;}
p.flag {text-align:right;padding:20px 0px;height:40px;float:right;}
p.flag a {line-height:40px;}


div.cabecalho {
    margin-top:20px;
}


div.slider {width:1440px;height:564px;clear:left;float:left;position:relative;left:-231px;}
div.slider div.images {height:564px;float:left;width:1440px;}
div.slider div.images img {float:left}
div.slider div.botoes {position:relative;top:-564px;float:left;left:0px;z-index:1000;height:564px;width:1440px;}

div.slider div.prev, div.slider div.next {width:231px;cursor:pointer; height:564px;color:white;line-height:564px;}
div.slider div.prev {float:left;text-align:right;background:url(../img/prev.png) no-repeat right center;} 
div.slider div.next {float:right;text-align:left;background:url(../img/next.png) no-repeat left center;}

div.slider div.leg {height:80px;color:white;z-index:1000;}
div.slider div.leg {float:right;position:relative; top:-120px;right:100px;padding:5px 10px; }
#leg1 { float:right;right:250px;}
#leg2 { float:left;left:250px;}
#leg3 { float:left;left:250px;}
#leg4 { float:right;right:250px;}
div.slider div.caixa {position:relative;top:0px;left:0px;width:100%;float:left;height:80px;background-color:black;}
div.slider p.chamada {font-family:"ConeriaScriptDemo";text-align:center; font-size:36px;position:relative;padding:3px 10px;top:-65px;}
div.slider p.frase {font-family:"HelveticaNeue";text-align:right; font-size:12px;    position:relative;padding:0px 10px;top:-65px;}
div.slider div.grupo {width:1440px;height:564px;float:left;}





div.tarifas div.col1 { width:425px;margin-left:0px;}
div.tarifas div.col2 { width:523px;}

div.tarifas div.col2 h2 {font-family:"ConeriaScriptDemo"; font-size:18px; color:#000;line-height:28px;}
div.tarifas div.col2 div { margin-left:12px;border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:20px;}
div.tarifas div.col2 div p {font-family:"HelveticaNeue"; font-size:12px; color:#666;line-height:16px;text-align:justify;margin-bottom:5px;}
div.tarifas div.col2 div p.tarifa { font-size:10px;float:right; color:black;}
div.tarifas span.preco {font-size:14px;}
div.tarifas div.col2 div p.green {color:#33CC33 ; float:left;}



div.pousada,div.suites { width:1440px;height:564px;background: url("../img/pousada/fundo.jpg"); position:relative;left:-231px;}
div.pousada div.container, div.suites div.container {padding-top:61px; }

div.menu-lateral { font-family:TrajanPro;color:white; }
div.menu-lateral ul { margin-bottom:20px;}
div.menu-lateral ul li { font-size:12px;margin-left:15px;line-height:14px; cursor:pointer;}
div.menu-lateral h2 {line-height:25px;margin-bottom:30px; font-size:16px;cursor:pointer;}
div.suites div.menu-lateral h2 { margin-bottom:0px;}
div.menu-lateral h2.ativo, div.menu-lateral li.ativo{ color:#ffff99;}

div.pousada div.col2 p { font-family:"HelveticaNeue"; font-size:11px;line-height:14px; text-align:justify;color:#999;margin-bottom:15px;}
div.pousada div.col3 a img, div.subbloco img{width:53px; height:53px; border:none; }
div.pousada div.col3 a { display:block;float:left; margin:0px 8px 8px 0px;}




div.bloco { display:none;}

div.pousada div.bloco {height:466px;}

div.bloco.ativo { display: block;}


div.reserva1 div.borda-sombreada {width:470px ; background-color:#F1EFEF;padding:20px;border:4px solid white;}
#contato div.borda-sombreada {padding:8px 5px 8px 20px; }

div.reserva1 div.col1 p {font-family: Helvetica; color:#999; font-style:oblique; padding-bottom:15px;line-height:15px;font-size:12px;text-align:justify;}
#contato div.col1 p{float:left;font-size:11px;color:#333;font-style:normal;padding:0px;}

div.reserva1 div.col1 div.borda-sombreada p.telefone { font-style:normal;line-height:20px;font-size:20px;text-align:right;color:#333;margin-top:5px;}
div.reserva1 div.col1 div.borda-sombreada p.telefone span {font-size:12px;}

div.reserva1 div.col2 form{ width:400px;float:right;line-height:27px;}
div.reserva1 div.col2 label {width:100px;margin:0px;padding:0px;float:left;color:#333;text-align:left;font-family:Helvetica; font-style:oblique; font-size:12px;}
div.reserva1 div.col2 input,
div.reserva1 div.col2 select {width:295px;clear:both;font-size:12px;height:20px;margin-left:3px;margin-bottom:2px;color:#666;background-color:#ccc; border:none;}

div.reserva1 div.col2 p.botao {text-align:right;font-family:Helvetica;font-size:12px;color:#999;} 
div.reserva1 div.col2 p.botao input{ 
width:72px;background-color:#333; color:white;margin-top:10px; margin-left:5px;
cursor: pointer; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#contato div.col1 p.telefone { float:right;font-size:20px;margin-top:0px;width:135px; }

#contato div.divulgacao {margin-top:40px;font-family: Helvetica; font-style:oblique;font-weight:bold; color:#000;font-size:12px; }
#contato div.divulgacao p{float:none;line-height:20px;}
#contato div.divulgacao a {font-weight:normal;color:#000;}
#contato textarea{color:#000;width:295px;height:185px;margin-top:2px;border:none;
    -moz-box-shadow: 0 0 10px 2px #ccc;
    -webkit-box-shadow: 0 0 10px 2px #ccc;
    box-shadow: 0 0 10px 2px #ccc;
}

.fundo-suite img {position:relative; top:-61px;width:757px;height:563px;}
.fundo-suite { height:564px; }
.sub-blocos {position:relative; top:-564px;}
div.suites{overflow:hidden}
#area-suites div.bloco { height:503px;float:left;margin-left:0px;}
#area-suites div.subbloco {
   position:relative; 
   z-index:100;
   width:265px;
   margin-left:20px;
}
#area-suites div.subbloco p {
    font-family: HelveticaNeue;
    font-size:12px;
    line-height: 14px;
    margin-bottom:15px;
    text-align:justify;
    color:#ccc;
    width:225px;
}
#area-suites div.subbloco:before
{
   content: "";
   display: block;
   position: absolute;
   top:-61px;
   left:-20px;
   width: 265px;
   height:563px;
   background:black;
   z-index:-1;
-moz-opacity: 0.75;
opacity: 0.75;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=75);   
}

#area-suites div.subbloco img{width:50px;height:50px;margin:0px 2px;}    
#area-suites div.subbloco ul li { display:inline}
#area-suites div.subbloco p.thumbs { width:235px }
#area-suites div.subbloco p a { color:#cccc99;}
