{% load static %}
{% load i18n %}

{% get_static_prefix as STATIC_PREFIX %}

<div id="servicos" class="grid9 bloco" > 
    <div class="grid4 col2 subbloco">
        {% blocktrans %}<p>Wi-fi e telefone nas suítes;</p>
        <p>Café da manhã gourmet servido a qualquer hora do dia;</p>
        <p>Serviço de governanta exclusiva (agendar);</p>
        <p>Almoço e jantar gourmet, com possibilidade de hóspede utilizar a cozinha do restaurante para preparar pratos para seus convidados;</p>
        <p>Refeições com chef de cozinha exclusivo (agendar); cardápio adaptado para vegetarianos ou necessidades especiais, desde que avisado previamente;</p>
        <p>Serviços de transfer (agendar);</p>
        <p>Massagem e relaxamento sob agendamento</p>
        <p>Gerentes de mordomia para atendimento personalizado como lua de mel, ocasiões especiais como aniversários e comemorações</p>{% endblocktrans %}
    </div>
    <div class="fundo-estrutura grid5"><a class="fancybox" href="{{ STATIC_PREFIX }}img/estrutura/foto2.jpg"  rel="gal-servicos"><img src="{{ STATIC_PREFIX }}img/estrutura/foto2.jpg"   /></a></div>
</div>
