{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<div id="servicos" class="grid9 bloco" > 
    <div class="grid4 col2 subbloco">
        <p>Wi-fi e telefone nos apartamentos;</p>
        <p>Café da manhã servido a qualquer hora;</p>
        <p>Serviço de governanta exclusiva (agendar previamente);</p>
        <p>Trilhas a margem do rio Jucu, na cachoeira do Lagarto e dentro da propriedade;</p>
        <p>Almoço e jantar gourmet, com possibilidade de hóspede utilizar a cozinha do restaurante para preparar pratos para seus convidados;</p>
        <p>Refeições com chefe de cozinha em dedicação exclusiva, se solicitado previamente, em qualquer apartamento da pousada;</p>
        <p>Serviços de transfer (agendar previamente);</p>
    </div>
    <div class="fundo-estrutura grid5"><a class="fancybox" href="{{ STATIC_PREFIX }}img/estrutura/foto2.jpg"  rel="gal-servicos"><img src="{{ STATIC_PREFIX }}img/estrutura/foto2.jpg"   /></a></div>
</div>
