{% extends "lagarto/index.html" %}


{% block menu-selecionado %}menu-estrutura{% endblock %}

{% block conteudo_superior %}

<div class="container">
<div class="estrutura">
    <div class="container" id="area-estrutura">
        <div class="grid3 first col1 menu-lateral">
            <h2 class="ativo" data-bloco="estrutura">ESTRUTURA</h2>
            <h2 data-bloco="servicos">SERVIÇOS</h2>
            <h2 data-bloco="bird">BIRD WATCHERS</h2>
        </div>

        {% include "lagarto/estrutura/estrutura.html" %} 
        {% include "lagarto/estrutura/servicos.html" %} 
        {% include "lagarto/estrutura/bird.html" %} 
           
       
    </div>
</div>
</div>








<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({maxWidth:1024});
       
        menu_com_fade("area-estrutura","h2");
    
	});
</script>
{% endblock %}


