{% extends "lagarto/index.html" %}
{% load i18n %}


{% block menu-selecionado %}menu-localizacao{% endblock %}

{% block conteudo_superior %}

<div class="container">
<div class="estrutura">
    <div class="container" id="area-localizacao">
        <div class="grid3 first col1 menu-lateral">
            <h2 data-bloco="regiao">A REGIÃO</h2>
            <h2 class="ativo" data-bloco="localizacao">{% trans "LOCALIZAÇÃO" %}</h2>
            <h2 data-bloco="transfer">TRANSFER</h2>

            <div style="margin-top:150px">
            {% include "lagarto/includes/climatempo.html" %}
            </div>

        </div>

        {% include "lagarto/localizacao/regiao.html" %} 
        {% include "lagarto/localizacao/local.html" %} 
        {% include "lagarto/localizacao/transfer.html" %} 
           
       
    </div>
</div>
</div>








<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({maxWidth:1024});
       
        menu_com_fade("area-localizacao","h2");
    
	});
</script>
{% endblock %}


