{% extends "lagarto/index.html" %}
{% load static %}

{% block css %}
{% get_static_prefix as STATIC_PREFIX %}
{{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}fancybox/jquery.fancybox.css"  type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block javascript %}
{% get_static_prefix as STATIC_PREFIX %}
{{ block.super }}
        <script src="{{ STATIC_PREFIX }}fancybox/jquery.fancybox.js"  type="text/javascript"></script>
{% endblock %}

{% block menu-selecionado %}menu-pousada{% endblock %}

{% block conteudo_superior %}

<div class="container">
<div class="pousada">
    <div class="container" id="area-pousada">
        <div class="grid3 first col1 menu-lateral">
            <h2 class="ativo" data-bloco="a-pousada";>A POUSADA</h2>
            <h2 data-bloco="bistro">BISTRÔ CHEZ LAGARTO</h2>
            <h2 data-bloco="projeto-ambiental">PROJETO AMBIENTAL</h2>
            <h2 data-bloco="roteiro-de-charme">ROTEIROS DE CHARME</h2>
        </div>

        {% include "lagarto/pousada/a-pousada.html" %} 
        {% include "lagarto/pousada/bistro.html" %} 
        {% include "lagarto/pousada/projeto-ambiental.html" %} 
        {% include "lagarto/pousada/roteiro.html" %} 
           
              
    </div>
</div>
</div>








<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({maxWidth:1024});
       
        menu_com_fade("area-pousada","h2");
    
	});
</script>
{% endblock %}

