{% extends "lagarto/index.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "fancybox/jquery.fancybox.css" %}" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block javascript %}
{{ block.super }}
        <script src="{% static "fancybox/jquery.fancybox.js" %}" type="text/javascript"></script>
{% endblock %}

{% block menu-selecionado %}menu-pousada{% endblock %}

{% block conteudo_superior %}

<div class="container">
<div class="pousada">
    <div class="container" id="area-pousada">
        <div class="grid3 first col1 menu-lateral">
            <h2 class="ativo" data-bloco="a-pousada";>A POUSADA</h2>
            <h2 data-bloco="bistro">BISTRÔ CHEZ LAGARTO</h2>
            <h2 data-bloco="projeto-ambiental">PROJETO AMBIENTAL</h2>
            <h2 data-bloco="roteiro-de-charme">ROTEIRO DE CHARME</h2>
        </div>

        {% include "lagarto/pousada/a-pousada.html" %} 
        {% include "lagarto/pousada/bistro.html" %} 
        {% include "lagarto/pousada/projeto-ambiental.html" %} 
           
        <div id="roteiro-de-charme" class="bloco">
        <div class="grid3 col2">
            <p>Identifica todos hotéis, pousadas e refúgios ecológicos durante o ano de seu ingresso na Associação.</p>
            <p>A Associação de Hotéis Roteiros de Charme congrega atualmente 55 Hotéis, Pousadas e Refúgios Ecológicos situados, do Norte ao Sul do Brasil, em 15 estados e 47 destinos turísticos. </p>
            <p>Fundada em 1992 como entidade privada sem fins lucrativos, seus membros são  selecionados anualmente pela variedade de suas características e personalidades independentes, segundo rígidos critérios quanto ao conforto, qualidade de serviços e responsabilidade sócio-ambiental,  sempre de forma economicamente viável e sustentável.</p>
            <p>É uma proposta condizente com produtos referidos de forma variada como "luxury", "thematic hotels", "wellness", "boutique hotels" ou ainda que pratiquem uma hotelaria que alia os princípios de "fair trade" , “slow food” e do trade internacional (ética e responsabilidade social).</p>
          
            <p style="text-align:right"><a style="color:#999" target="_blank" href="http://www.roteirosdecharme.com.br/">Saiba mais</a></p>                    
        </div>

       
    </div>
</div>
</div>








<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({maxWidth:1024});
       
        menu_com_fade("area-pousada","h2");
    
	});
</script>
{% endblock %}

