{% extends "lagarto/index.html" %}

{% block menu-selecionado %}menu-suites{% endblock %}

{% block conteudo_superior %}
{% load i18n %}{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}


<div class="container">
<div class="suites">
    <div class="container" id="area-suites" style="visibility:hidden">

        <div class="grid3 first col1 menu-lateral">
            <nav>
	    {% for tipo in object_list reversed %}
	   	<h2  {% if forloop.first %} class="ativo" {% endif %} data-bloco="s{{ tipo.evento_set.all.0.id }}">
			{% ifequal LANGUAGES.0.0 LANGUAGE_CODE %}{{ tipo.nome  }}{% else %}{{ tipo.nome_en  }}{% endifequal %}
		</h2>
                <ul>
		{% for suite in tipo.evento_set.all %}
			{% if forloop.first and forloop.parentloop.first %}
			<li class="ativo" data-bloco="s{{ suite.id}}">{{ suite.titulo}}</li>
			{% else %}
			<li data-bloco="s{{ suite.id}}">{{ suite.titulo }}</li>
			{% endif %}
		{% endfor %}
                </ul>
	    {% endfor %} 
          </nav>
        </div>

{% load cropping %}
{% load thumbnail %}

{% for tipo in object_list %}
{% for suite in tipo.evento_set.all %}

<div id="s{{ suite.id}}" class="bloco {% if forloop.first and forloop.parentloop.first %}ativo{% endif %} grid9">
            <div class="fundo-suite"><a  rel="s{{ suite.id}}" class="fancybox" href="{% cropped_thumbnail suite cropping max_size=1024x764 %}">

<img src="{% cropped_thumbnail suite cropping %}" width="720px" /></a></div>
            <div class="sub-blocos">
                <div class="grid4 col2 subbloco">

		{% ifequal LANGUAGES.0.0 LANGUAGE_CODE %}
			{{ suite.descricao|safe }}
		{% else %}
			{{ suite.descricao_en|safe }}
		{% endifequal %}
                    <p class="thumbs">
			{% for foto in suite.foto_set.all %}
 {% thumbnail foto.foto "50x50" crop="center" as small %} 
                    <a class="fancybox {% if forloop.first %}first{% endif %}" {% if foto.legenda %}title="{{ foto.legenda }}"{% endif %} rel="s{{suite.id}}"  href="{% cropped_thumbnail foto cropping max_size=1024x764 %}" ><img src="{{ small.url}}" ></a>
			{% endfor %}
                    </p>

                    <p style="text-align:right;margin-bottom:10px;"><a href="#" onclick="toogle_menu('tarifas');return false;">Tarifas</a></p>
                    <p style="text-align:right"><a href="#" onclick="toogle_menu('reservas');return false;">Disponibilidade</a></p>
                </div>
            </div>
</div>
{% endfor %}
{% endfor %}


    </div>
</div>
</div>

<script type="text/javascript">
	$(window).load(function() {
	
       $("#area-suites").css("visibility","visible");
    	$(".fancybox").fancybox({maxWidth:720});
       
        var data = parseURLParams(window.location.href);
        menu_com_fade_suites("area-suites","h2");
        menu_com_fade_suites("area-suites","li");
    
        $("li[data-bloco='"+data["suite"]+"']").click();
        scroll= false;// impede scroll automatico
        toogle_menu("tarifas");
        scroll= true; // link tarifas agora tem scroll
	});
</script>


{% endblock %}

