{% extends "lagarto/index.html" %}
{% load staticfiles %}


{% block menu-selecionado %}menu-suites{% endblock %}
{% block conteudo_superior %}

<div class="container">
<div class="suites">
    <div class="container" id="area-suites">

    <div class="grid3 first col1 menu-lateral">
            <nav>
            <h2 class="ativo" data-bloco="loft";>Suíte Loft</h2>
                <ul>
                <li class="ativo">Vó Chica</li>
                <li>Zermatt</li>
                <li>Amadeu</li>
                <li>Baviera</li>
                <li>Pomerânea</li>
                <li>Aymorés</li>
                </ul>
            <h2 data-bloco="studio">Suíte Estúdio</h2>
                <ul>
                <li>Piazza Navona</li>
                <li>Mosteiro dos Jerónimos</li>
                <li>Bruges</li>
                <li>Rembrandt </li>
                <li>Maria Antonieta</li>
                </ul>
            <h2 data-bloco="projeto-ambiental">Suíte Confort</h2>
                <ul>
                <li>D´Ouro</li>
                <li>São Paulim</li>
                <li>Carrara</li>
                <li>Provence</li>
                <li>Mamma Amalfi</li>
                <li>Toscana</li>
                </ul>
           </nav>
        </div>

        <div id="a-pousada" class="bloco">
        <div class="grid3 col2">
            <p>A pousada Rabo do Lagarto está instalada em um ambiente de contemplação de grande beleza paisagística e, por isso mesmo foi projetada como uma grande arquibancada de frente para a Pedra Azul.</p>
            <p>O charme, a sofisticação, privacidade, a valorização das características locais, o respeito ao meio ambiente são ingredientes de uma mesma receita que dão sustentação à postura de hospitalidade da Pousada Rabo do Lagarto.</p>
            <p>Nosso objectivo é receber cada hóspede de maneira única, com muita atenção ao charme dos detalhes.</p>
            <p style="text-align:right">Saiba mais</p>                    
        </div>
            <div class="grid6 col3 ">
            <a class="fancybox" rel="pousada" title="legenda 1" href="{% static "img/tarifas/foto1.jpg" %}"><img src="{% static "img/pousada/thumb1.jpg" %}"></a>
            <a class="fancybox" rel="pousada" title="legenda 2 foto GRANDE" href="{% static "img/capa/slider2.jpg" %}"><img src="{% static "img/pousada/thumb2.jpg" %}"></a>
            <a class="fancybox first" rel="pousada" title="legenda 3 "href="{% static "img/tarifas/foto1.jpg" %}"><img src="{% static "img/pousada/thumb3.jpg" %}"></a>
            <a class="fancybox" rel="pousada" title="legenda 4 foto GRANDE" href="{% static "img/capa/slider4.jpg" %}"><img src="{% static "img/pousada/thumb4.jpg" %}"></a>
            </div> 
        </div>



    </div>
</div>
</div>
<script>
var getData = parseURLParams(window.location);
   if 
</script>


{% endblock %}

