{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


<div id="regiao" class="bloco  grid9">
            <div class="fundo-pousada"><a  href="{{ STATIC_PREFIX }}img/capa/slider2.jpg"><img src="{{ STATIC_PREFIX }}img/capa/slider2.jpg"  width="728px" /></a></div>
            <div class="sub-blocos">
                <div class="grid4 col2 subbloco subbloco2">
<p>A região da Pedra Azul é o balanço perfeito entre natureza e conforto. Considerada uma das mais belas paisagens do país, a Pedra Azul está localizada no município de Domingos Martins a 46km da sede do município e a 90km da capital, Vitória.</p>

<p>Segundo a ONU, Pedra Azul tem o 3º melhor clima do mundo. Este clima, somado as opções de eco, agroturismo e a gastronomia oferecidas ali, fazem deste pedaço do Espírito Santo a região que mais movimenta o turismo e atrai visitantes de todo o mundo. </p>

<p style="text-align:left">Informações Turísticas: <a style="color:#ccc" target="_blank" href="http://www.pedraazul.com.br/">http://www.pedraazul.com.br/</a></p>
                    <p class="thumbs">
                    <a class="fancybox" rel="vochica" id="gal-vochica" title="Visual sempre incrível" href="{{ STATIC_PREFIX }}img/localizacao/foto1.jpg" ><img src="{{ STATIC_PREFIX }}img/localizacao/thumb1.jpg" ></a>
                    <a class="fancybox" rel="vochica" title="Parque Estadual Pedra Azul" href="{{ STATIC_PREFIX }}img/localizacao/foto2.jpg" ><img src="{{ STATIC_PREFIX }}img/localizacao/thumb2.jpg" ></a>
                    <a class="fancybox first" rel="vochica" title="A pedra com a chuva descendo por trás dela" href="{{ STATIC_PREFIX }}img/localizacao/foto3.jpeg" ><img src="{{ STATIC_PREFIX }}img/localizacao/thumb3.jpg" ></a>
                    <a class="fancybox" rel="vochica" title="MUITO frio, 8 graus, registrado da varanda da Suíte Vêneto" href="{{ STATIC_PREFIX }}img/localizacao/foto4.jpeg" ><img src="{{ STATIC_PREFIX }}img/localizacao/thumb4.jpg" ></a>
                    </p>

                </div>
            </div>
</div>
