

<div id="transfer" class="grid9 bloco" > 
          <div class="grid4 col2 subbloco" style="height:400px;">

<p>Para solicitar o serviço de transfer é necessário um aviso prévio por parte do cliente. </p>
<p>Sempre que o cliente optar por algum serviço de transporte privado ou táxi, recomenda-se buscar fornecedores cadastrados dentro do aeroporto ou hotel.</p>
<p>Estamos à disposição para atender as necessidades do cliente. Entre em contato e teremos o maior prazer em lhe dar todo o suporte e conforto devido.</p>

            <br/>

   </div>
</div>
