{% load static %}
{% load i18n %}

{% get_static_prefix as STATIC_PREFIX %}

<div id="aymores" class="bloco grid9">
            <div class="fundo-suite"><a href="#" onclick="javascript:$('#gal-aymores').click();return false;"><img src="{{ STATIC_PREFIX }}img/suites/aymores/foto1.jpeg"  width="728px" /></a></div>
            <div class="sub-blocos">
                <div class="grid4 col2 subbloco">
{% blocktrans %}<p>Aymorés</p>
<p>Suíte em andar superior, com quarto amplo, integrado com sala, ambiente da lareira e banheira com hidromassagem. Varanda. Telefone, TV de LCD, com mais de 100 canais SKY HD, DVD, acesso gratuito à internet, edredon de pluma de ganso, lençóis e toalhas de algodão egípcio com barra de crochê ou richilieu, frigobar, secador de cabelo. Roupões e sandálias masculino e feminino.</p>
<p>Vista para a Pedra Azul e Pedra das Flores a partir da cama, da varanda, do box e da banheira.  Cama queen size com pillow top. Queda d´água do Rio Jucu no fundo da suíte.</p>
<p>Já na reserva é possível encomendar um coquetel privé, que será levado ao quarto no momento desejado.</p>{% endblocktrans %}

                   <p class="thumbs">
                    <a class="fancybox" rel="aymores" id="gal-aymores"   href="{{ STATIC_PREFIX }}img/suites/aymores/foto1.jpeg" ><img src="{{ STATIC_PREFIX }}img/suites/aymores/thumb1.jpg" ></a>
                    <a class="fancybox" rel="aymores"   href="{{ STATIC_PREFIX }}img/suites/aymores/foto2.jpeg" ><img src="{{ STATIC_PREFIX }}img/suites/aymores/thumb2.jpg" ></a>
                    <a class="fancybox first" rel="aymores"   href="{{ STATIC_PREFIX }}img/suites/aymores/foto3.jpeg" ><img src="{{ STATIC_PREFIX }}img/suites/aymores/thumb3.jpg" ></a>
                    <a class="fancybox" rel="aymores"   href="{{ STATIC_PREFIX }}img/suites/aymores/foto4.jpeg" ><img src="{{ STATIC_PREFIX }}img/suites/aymores/thumb4.jpg" ></a>
                    </p>

                    <p style="text-align:right;margin-bottom:10px;"><a href="#" onclick="toogle_menu('tarifas');return false;">Tarifas</a></p>
                    <p style="text-align:right"><a href="#" onclick="toogle_menu('reservas');return false;">Disponibilidade</a></p>
                </div>
            </div>
</div>
