{% load staticfiles %}

<div id="aymores" class="bloco grid9">
            <div class="fundo-suite"><a href="javascript:$('#gal-aymores').click();"><img src="{% static "img/suites/aymores/foto1.jpeg" %}" width="728px" /></a></div>
            <div class="sub-blocos">
                <div class="grid4 col2 subbloco">
                    <p>Aymorés</p>
                    <p>Suíte em andar superior, com quarto amplo, integrado com sala, ambiente da lareira e banheiro com banheira de hidromassagem. Varanda com rede, mesinha e cadeiras. Telefone, TV, mesa com cadeiras, CD estéreo, DVD, acesso à internet, edredon de pluma de ganso, lençóis e toalhas de algodão egípcio com barra de crochê ou richilieu e/ou bordadas em ponto de cruz, frigobar, secador de cabelo. Sala com dois ambientes.</p>
                    <p>Vista para a Pedra Azul e Pedra das Flores a partir da cama, da varanda, do Box e da banheira. Cama king size. Pode-se tomar banho com a visão da Pedra Azul. Queda d´água do Rio Jucu no fundo da suíte.</p>
                    <p>Já na reserva é possível encomendar um coquetel privé, que será levado ao quarto no momento desejado.</p>
                    <p>
                    <a class="fancybox" rel="aymores" id="gal-aymores" title="Suíte Loft Aymorés"  href="{% static "img/suites/aymores/foto1.jpeg" %}"><img src="{% static "img/suites/aymores/thumb1.jpg" %}"></a>
                    <a class="fancybox" rel="aymores" title="Suíte Loft Aymorés"  href="{% static "img/suites/aymores/foto2.jpeg" %}"><img src="{% static "img/suites/aymores/thumb2.jpg" %}"></a>
                    <a class="fancybox first" rel="aymores" title="Suíte Loft Aymorés"  href="{% static "img/suites/aymores/foto3.jpeg" %}"><img src="{% static "img/suites/aymores/thumb3.jpg" %}"></a>
                    <a class="fancybox" rel="aymores" title="Suíte Loft Aymorés - cuia de cabaça feita por índios do Pará"  href="{% static "img/suites/aymores/foto4.jpeg" %}"><img src="{% static "img/suites/aymores/thumb4.jpg" %}"></a>
                    </p>

                    <p style="text-align:right;margin-bottom:10px;"><a href="#" onclick="toogle_menu('tarifas');return false;">Tarifas</a></p>
                    <p style="text-align:right"><a href="#" onclick="toogle_menu('reservas');return false;">Disponibilidade</a></p>
                </div>
            </div>
</div>
