{% load staticfiles %}

<div id="carrara" class="bloco grid9">
            <div class="fundo-suite"><a href="#" onclick="javascript:$('#gal-carrara').click();return false;"><img src="{% static "img/suites/carrara/foto1.jpeg" %}" width="728px" /></a></div>
            <div class="sub-blocos">
                <div class="grid4 col2 subbloco">
<p>Carrara</p>
                    <p class="thumbs">
                    <a class="fancybox" rel="carrara" id="gal-carrara" title="Suíte Comfort Carrara - veja como o banheiro é um conforto "  href="{% static "img/suites/carrara/foto1.jpeg" %}"><img src="{% static "img/suites/carrara/thumb1.jpg" %}"></a>
                    <a class="fancybox" rel="carrara" title="Suíte Comfort Carrara - a cama é queen size, com molas ensacadas, muito confortável "  href="{% static "img/suites/carrara/foto2.jpeg" %}"><img src="{% static "img/suites/carrara/thumb2.jpg" %}"></a>
                    <a class="fancybox first" rel="carrara" title="Suíte Comfort Carrara - a Pedra Azul está aí na frente!"  href="{% static "img/suites/carrara/foto3.jpeg" %}"><img src="{% static "img/suites/carrara/thumb3.jpg" %}"></a>
                    <a class="fancybox" rel="carrara" title="Suíte Comfort Carrara - o banheiro super charmoso! "  href="{% static "img/suites/carrara/foto4.jpeg" %}"><img src="{% static "img/suites/carrara/thumb4.jpg" %}"></a>
                    </p>

                    <p style="text-align:right;margin-bottom:10px;"><a href="#" onclick="toogle_menu('tarifas');return false;">Tarifas</a></p>
                    <p style="text-align:right"><a href="#" onclick="toogle_menu('reservas');return false;">Disponibilidade</a></p>
                </div>
            </div>
</div>
