{% load static %}
{% load i18n %}

{% get_static_prefix as STATIC_PREFIX %}

<div id="carrara" class="bloco grid9">
            <div class="fundo-suite"><a href="#" onclick="javascript:$('#gal-carrara').click();return false;"><img src="{{ STATIC_PREFIX }}img/suites/carrara/foto1.jpeg"  width="728px" /></a></div>
            <div class="sub-blocos">
                <div class="grid4 col2 subbloco">
{% blocktrans %}<p>Carrara </p>
<p>Suíte menor, porém muito charmosa. Quarto com vista para a Pedra Azul a partir do leito, cama Queen size com pillow top, e confortável banheiro em tons de lavanda com secador de cabelo,. Equipada com TV de LCD com mais de 100 canais SKY HD,  DVD e frigobar. Edredon de pluma de ganso, lençóis e toalhas em algodão egípcio com barra de crochê ou richilieu.</p>
<p>Já na reserva é possível encomendar um coquetel privé, que será levado ao quarto no momento desejado.Visão da Pedra Azul</p>{% endblocktrans %}
                    <p class="thumbs">
                    <a class="fancybox" rel="carrara" id="gal-carrara"   href="{{ STATIC_PREFIX }}img/suites/carrara/foto1.jpeg" ><img src="{{ STATIC_PREFIX }}img/suites/carrara/thumb1.jpg" ></a>
                    <a class="fancybox" rel="carrara"   href="{{ STATIC_PREFIX }}img/suites/carrara/foto2.jpeg" ><img src="{{ STATIC_PREFIX }}img/suites/carrara/thumb2.jpg" ></a>
                    <a class="fancybox" rel="carrara"   href="{{ STATIC_PREFIX }}img/suites/carrara/foto4.jpeg" ><img src="{{ STATIC_PREFIX }}img/suites/carrara/thumb4.jpg" ></a>
                    </p>

                    <p style="text-align:right;margin-bottom:10px;"><a href="#" onclick="toogle_menu('tarifas');return false;">Tarifas</a></p>
                    <p style="text-align:right"><a href="#" onclick="toogle_menu('reservas');return false;">Disponibilidade</a></p>
                </div>
            </div>
</div>
