{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<div id="douro" class="bloco grid9">
            <div class="fundo-suite"><a href="#" onclick="javascript:$('#gal-douro').click();return false;"><img src="{{ STATIC_PREFIX }}img/suites/douro/foto1.jpeg"  width="728px" /></a></div>
            <div class="sub-blocos">
                <div class="grid4 col2 subbloco">

                    <p>D’ouro</p>
                    <p>Quarto charmoso, com banheiro confortável e saleta.Vista para a Pedra Azul a partir do leito.
                    Equipado com televisão e DVD. Edredon de pluma de ganso, lençóis e toalhas em algodão
                    egípcio com barra de crochê ou richilieu e/ou bordadas em ponto de cruz.</p>
                    <p>Já na reserva é possível encomendar um coquetel privé para esse momento, que será levado ao quarto no momento
                    desejado. A suíte D’ouro possui saleta independente com mesa e cadeiras.</p>
                    <p class="thumbs">
                    <a class="fancybox" rel="douro" id="gal-douro" title="Suíte Comfort D´Ouro - olhe a vista da janela!"  href="{{ STATIC_PREFIX }}img/suites/douro/foto1.jpeg" ><img src="{{ STATIC_PREFIX }}img/suites/douro/thumb1.jpg" ></a>
                    <a class="fancybox" rel="douro" title="Suíte Comfort D´Ouro - a Pedra Azul está em frente à cama "  href="{{ STATIC_PREFIX }}img/suites/douro/foto2.jpeg" ><img src="{{ STATIC_PREFIX }}img/suites/douro/thumb2.jpg" ></a>
                    <a class="fancybox first" rel="douro" title='Suíte Comfort D´Ouro - detalhe "nada a ver" bem humorado, presente em algumas suítes '  href="{{ STATIC_PREFIX }}img/suites/douro/foto3.jpeg" ><img src="{{ STATIC_PREFIX }}img/suites/douro/thumb3.jpg" ></a>
                    <a class="fancybox" rel="douro" title="Suite Comfort D´Ouro - vista da janela "  href="{{ STATIC_PREFIX }}img/suites/douro/foto4.jpeg" ><img src="{{ STATIC_PREFIX }}img/suites/douro/thumb4.jpg" ></a>
                    </p>

                    <p style="text-align:right;margin-bottom:10px;"><a href="#" onclick="toogle_menu('tarifas');return false;">Tarifas</a></p>
                    <p style="text-align:right"><a href="#" onclick="toogle_menu('reservas');return false;">Disponibilidade</a></p>
                </div>
            </div>
</div>
