{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<div id="mosteiro" class="bloco grid9">
            <div class="fundo-suite"><a href="#" onclick="javascript:$('#gal-mosteiro').click();return false;"><img src="{{ STATIC_PREFIX }}img/suites/mosteiro/foto1.jpeg"  width="728px" /></a></div>
            <div class="sub-blocos">
                <div class="grid4 col2 subbloco">
                        <p>Mosteiro dos Jerónimos</p>
                        <p>Suíte com quatro cômodos: saleta para televisão, varanda, quarto e amplo banheiro. Equipada
                        com cama de casal Queen size, televisão, edredon de pluma de ganso, lençóis e toalhas em
                        algodão egípcio com barra de crochê ou richilieu e/ou bordadas em ponto de cruz, roupão masculino
                        e feminino e secador de cabelos. Biblioteca de DVD disponível para uso imediato ou através
                        de reserva. Lareira reservada para o quarto, posicionado de frente para enormes janelas, do sofá
                        é difícil deixar de contemplar a Pedra Azul. A varanda, no quarto, é equipada com rede, duas
                        poltronas e uma mesinha para um charmoso drink à noite, observando as estrelas.</p>
                        <p>já na reserva é
                        possível encomendar um coquetel privé para esse momento, que será levado ao quarto no momento certo</p>

                        <p class="thumbs">
                    <a class="fancybox" rel="mosteiro" id="gal-mosteiro" title="Suíte Estúdio Mosteiro dos Jerónimos - a Pedra Azul tá aí em frente da cadeira da varanda"  href="{{ STATIC_PREFIX }}img/suites/mosteiro/foto1.jpeg" ><img src="{{ STATIC_PREFIX }}img/suites/mosteiro/thumb1.jpg" ></a>
                    <a class="fancybox" rel="mosteiro" title="Suíte Estúdio Mosteiro dos Jerónimos - a Pedra Azul logo em frente-é só abrir a garrafa de vinho!"  href="{{ STATIC_PREFIX }}img/suites/mosteiro/foto2.jpeg" ><img src="{{ STATIC_PREFIX }}img/suites/mosteiro/thumb2.jpg" ></a>
                    <a class="fancybox first" rel="mosteiro" title="Suíte Estúdio Mosteiro dos Jerónimos - a Pedra Azul está logo ali, ao lado da cama "  href="{{ STATIC_PREFIX }}img/suites/mosteiro/foto3.jpeg" ><img src="{{ STATIC_PREFIX }}img/suites/mosteiro/thumb3.jpg" ></a>
                    <a class="fancybox" rel="mosteiro" title="Suíte Estúdio Mosteiro dos Jerónimos - baneiro charmosíssimo com peças do Vale do Jequitinhonha "  href="{{ STATIC_PREFIX }}img/suites/mosteiro/foto4.jpeg" ><img src="{{ STATIC_PREFIX }}img/suites/mosteiro/thumb4.jpg" ></a>
                    </p>

                    <p style="text-align:right;margin-bottom:10px;"><a href="#" onclick="toogle_menu('tarifas');return false;">Tarifas</a></p>
                    <p style="text-align:right"><a href="#" onclick="toogle_menu('reservas');return false;">Disponibilidade</a></p>
                </div>
            </div>
</div>
