{% load staticfiles %}

<div id="pomeranea" class="bloco grid9">
            <div class="fundo-suite"><a href="#" onclick="javascript:$('#gal-pomeranea').click();return false;"><img src="{% static "img/suites/pomeranea/foto1.jpeg" %}" width="728px" /></a></div>
            <div class="sub-blocos">
                <div class="grid4 col2 subbloco">
                    <p>Pomerânea</p>
                    <p>Suíte térrea, com quarto amplo, integrado com sala, ambiente da lareira e banheiro com banheira
                    de hidromassagem. Varanda com rede, mesinha e cadeiras. Telefone, TV, mesa com cadeiras, CD
                    estéreo, DVD, acesso à internet, edredon de pluma de ganso, lençóis e toalhas de algodão
                    egípcio com barra de crochê ou richilieu e/ou bordadas em ponto de cruz, frigobar, secador de
                    cabelo. Sala com dois ambientes.</p>
                    <p>Vista para a Pedra Azul e Pedra das Flores a partir da varanda,
                    da cama e da banheira. Cama king size. Pode-se tomar banho com a visão da Pedra Azul. </p>
                    <p>Já na
                    reserva é possível encomendar um coquetel privé, que será levado ao quarto no momento
                    desejado.</p>
                    <p class="thumbs">
                    <a class="fancybox" rel="pomeranea" id="gal-pomeranea" title="Suíte Loft Pomerânea - as cadeirinhas são uma coleção"  href="{% static "img/suites/pomeranea/foto1.jpeg" %}"><img src="{% static "img/suites/pomeranea/thumb1.jpg" %}"></a>
                    <a class="fancybox" rel="pomeranea" title="Suíte Loft Pomerânea - redecorada durante uma viagem à Provence"  href="{% static "img/suites/pomeranea/foto2.jpeg" %}"><img src="{% static "img/suites/pomeranea/thumb2.jpg" %}"></a>
                    <a class="fancybox first" rel="pomeranea" title="Suíte Loft Pomerânea - a toalha da mesa é da Croácia e o crochê que cobre o sofá foi encontrado num brechó!"  href="{% static "img/suites/pomeranea/foto3.jpeg" %}"><img src="{% static "img/suites/pomeranea/thumb3.jpg" %}"></a>
                    <a class="fancybox" rel="pomeranea" title="Suíte Loft Pomerânea - as bandejas são feitas aqui no nosso ateliê, o baú das lenhas é de brechó"  href="{% static "img/suites/pomeranea/foto4.jpeg" %}"><img src="{% static "img/suites/pomeranea/thumb4.jpg" %}"></a>
                    </p>

                    <p style="text-align:right;margin-bottom:10px;"><a href="#" onclick="toogle_menu('tarifas');return false;">Tarifas</a></p>
                    <p style="text-align:right"><a href="#" onclick="toogle_menu('reservas');return false;">Disponibilidade</a></p>
                </div>
            </div>
</div>
