{% load static %}
{% load i18n %}

{% get_static_prefix as STATIC_PREFIX %}

<div id="provence" class="bloco grid9">
            <div class="fundo-suite"><a href="#" onclick="javascript:$('#gal-provence').click();return false;"><img src="{{ STATIC_PREFIX }}img/suites/provence/foto1.jpg"  width="728px" /></a></div>
            <div class="sub-blocos">
                <div class="grid4 col2 subbloco">
                {% blocktrans %}<p>Provence</p>
<p>Varanda e lareira. Equipada com cama de casal queen size com pillow top, DVD, TV de LCD com mais de 100 canais SKY HD, acesso gratuito à internet, frigobar, secador de cabelo,edredon de pluma de ganso, lençóis e toalhas em algodão egípcio com barra de crochê ou richilieu.Roupões e sandálias masculino e feminino. Visão privilegiada para a Pedra Azul. A decoração lembra os campos de lavanda da Provence</p>
<p>Já na reserva é possível encomendar um coquetel privé que será levado ao quarto no momento desejado. </p>{% endblocktrans %}
                   <p class="thumbs">
                    <a class="fancybox" rel="provence" id="gal-provence"   href="{{ STATIC_PREFIX }}img/suites/provence/foto1.jpg" ><img src="{{ STATIC_PREFIX }}img/suites/provence/thumb1.jpg" ></a>
                    <a class="fancybox" rel="provence"   href="{{ STATIC_PREFIX }}img/suites/provence/foto2.jpg" ><img src="{{ STATIC_PREFIX }}img/suites/provence/thumb2.jpg" ></a>
                    </p>

                    <p style="text-align:right;margin-bottom:10px;"><a href="#" onclick="toogle_menu('tarifas');return false;">Tarifas</a></p>
                    <p style="text-align:right"><a href="#" onclick="toogle_menu('reservas');return false;">Disponibilidade</a></p>
                </div>
            </div>
</div>
