{% load static %}
{% load i18n %}

{% get_static_prefix as STATIC_PREFIX %}

<div id="saopaulim" class="bloco grid9">
            <div class="fundo-suite"><a href="#" onclick="javascript:$('#gal-saopaulim').click();return false;"><img src="{{ STATIC_PREFIX }}img/suites/saopaulim/foto1.jpg"  width="728px" /></a></div>
            <div class="sub-blocos">
                <div class="grid4 col2 subbloco">
                   {% blocktrans %}<p>São Paulim</p>
<p>Suíte charmosa, com cama Queen size, banheiro confortável e saleta.Vista para a Pedra Azul a partir do leito. Equipado com TV de LCD com mais de 100 canais SKY HD, DVD e frigobar. Edredon de pluma de ganso, lençóis e toalhas em algodão egípcio com barra de crochê ou richilieu, roupões e sandálias masculino e feminino, secador de cabelo. Vista da Pedra Azul e Pedra das Flores.</p>
<p>Já na reserva é possível encomendar um coquetel privé, que será levado ao quarto no momento desejado.</p>{% endblocktrans %}
                   <p class="thumbs">
                    <a class="fancybox" rel="saopaulim" id="gal-saopaulim"   href="{{ STATIC_PREFIX }}img/suites/saopaulim/foto1.jpg" ><img src="{{ STATIC_PREFIX }}img/suites/saopaulim/thumb1.jpg" ></a>
                    <a class="fancybox" rel="saopaulim"   href="{{ STATIC_PREFIX }}img/suites/saopaulim/foto2.jpg" ><img src="{{ STATIC_PREFIX }}img/suites/saopaulim/thumb2.jpg" ></a>
                    </p>

                    <p style="text-align:right;margin-bottom:10px;"><a href="#" onclick="toogle_menu('tarifas');return false;">Tarifas</a></p>
                    <p style="text-align:right"><a href="#" onclick="toogle_menu('reservas');return false;">Disponibilidade</a></p>
                </div>
            </div>
</div>
