{% load staticfiles %}

<div id="vochica" class="bloco ativo grid9">
            <div class="fundo-suite"><a  href="#" onclick="javascript:$('#gal-vochica').click();return false;"><img src="{% static "img/suites/vochica/foto1.jpeg" %}" width="728px" /></a></div>
            <div class="sub-blocos">
                <div class="grid4 col2 subbloco">
                    <p>VÓ CHICA</p>
                    <p>Suíte em andar superior, com quarto amplo, integrado com sala, ambiente da lareira e banheiro com ofurô.  Varanda com rede, mesinha e cadeiras. Telefone, TV, mesa com cadeiras, CD estéreo, DVD, acesso à internet, edredon de pluma de ganso, lençóis e toalhas  de algodão egípcio com barra de crochê ou richilieu e/ou bordadas em ponto de cruz, frigobar, secador de cabelo. </p>
                    <p>Vista para a Pedra Azul e Pedra das Flores a partir da cama, da varanda, do Box e da banheira. Cama king size. Pode-se tomar banho com a visão da Pedra Azul.</p>
                    <p>Queda d´água  do Rio Jucu no fundo da suíte. Já na reserva é possível encomendar um coquetel privé, que será levado ao quarto no momento desejado.</p>

                    <p class="thumbs">
                    <a class="fancybox" rel="vochica" id="gal-vochica" title="Suíte Loft Vó Chica" href="{% static "img/suites/vochica/foto1.jpeg" %}"><img src="{% static "img/suites/vochica/thumb1.jpg" %}"></a>
                    <a class="fancybox" rel="vochica" title="Suíte Loft Vó Chica" href="{% static "img/suites/vochica/foto2.jpeg" %}"><img src="{% static "img/suites/vochica/thumb2.jpg" %}"></a>
                    <a class="fancybox first" rel="vochica" title="Suíte Loft Vó Chica - essa é a visão de quem entra no quarto" href="{% static "img/suites/vochica/foto3.jpeg" %}"><img src="{% static "img/suites/vochica/thumb3.jpg" %}"></a>
                    <a class="fancybox" rel="vochica" title="Essa manta preta é um conforto incrível!" href="{% static "img/suites/vochica/foto4.jpeg" %}"><img src="{% static "img/suites/vochica/thumb4.jpg" %}"></a>
                    </p>

                    <p style="text-align:right;margin-bottom:10px;"><a href="#" onclick="toogle_menu('tarifas');return false;">Tarifas</a></p>
                    <p style="text-align:right"><a href="#" onclick="toogle_menu('reservas');return false;">Disponibilidade</a></p>
                </div>
            </div>
</div>
