{%  load static %}
{% load i18n %}
{% get_static_prefix as STATIC_PREFIX %}

<div class="contato reserva1" id="contato" style="display:none;">
    <div class="col1 grid6 first">
        <div class="borda-sombreada"> 
            <p style="width:325px;">{% trans "Entre em contato conosco pelo telefone ou utilize o campo ao lado." %}<br/>contato@rabodolagarto.com.br </p>
            <p class="telefone"><span>(27)</span> 3248-2383<br/>9942-6121</p>
            <div class="clear"></div>
        </div>
        <div class="divulgacao">
            <p>Marerial de Divulgação e clipping da pousada</p>
            <a href=""><img src="{{ STATIC_PREFIX }}img/pdf.png"  height="20px" width="20px" /> Clipping e Divulgação.pdf</a>
            <p>download</p>
        </div>
    </div>
   
    <div class="col2 grid6">
        <form id="formContato" action="/formcontato/" method="POST">

 {% csrf_token %}
        <p class="error nome" style="display:none">Informe seu nome.</p>
        <label for="contNome">{% trans "Nome:" %}</label>
        <input type="textbox" id="contNome" name="nome" />
        <p class="error email" style="display:none">Informe seu email.</p>
        <label for="contEmail">{% trans "Email:" %}</label>
        <input type="textbox" id="contEmail" name="email" />

        <p class="error telefone" style="display:none">Informe seu telefone.</p>
        <label for="contTelefone">{% trans "Telefone:" %}</label>
        <input type="textbox" id="contTelefone" name="telefone" />
        
        <p class="error mensagem" style="display:none">{% trans "Informe sua mensagem." %}</p>
        <label for="id_mensagem">{% trans "Mensagem:" %}</label>
        <textarea id="id_mensagem" name="mensagem" class="borda-sombreada" /></textarea> 
        <p class="botao"><input type="submit" value="{% trans "enviar" %}"></p>

        </form>
    </div>
</div>


    <script> 
        // wait for the DOM to be loaded 
function valida_contato(){
            $('.error').hide();  
            var name = $("#contNome").val();  
            if (name == "") {  
            $("#formContato p.nome").show();  
            $("#contNome").focus();  
                return false;  
            }  

              var email = $("#contEmail").val();  
            if (email == "") {  
            $("#formContato p.email").show();  
            $("#contEmail").focus();  
            return false;  
            }  
        
            var phone = $("#contTelefone").val();  
            if (phone == "") {  
                $("#formContato p.phone").show();  
                $("#contTelefone").focus();  
            return false;  
            }
 
            var periodo = $("#id_mensagem").val();  
            if (periodo == "") {  
                $("#formContato p.mensagem").show();  
                $("#id_mensagem").focus();  
            return false;  
            }



                      
            return true;
}

        // wait for the DOM to be loaded 
        $(document).ready(function() { 
            $('#formContato').ajaxForm({ 
                beforeSubmit: valida_contato,
                dataType: "json",
                success: function(data){
                    if (data.erro){ 
                        $(".error").hide();
                        $("#formContato p.email").show()
                        $("#contEmail").focus();
                    }else{
                        alert(data.message);
                        window.location="/";
                    }
               }
           }); 
 

 
                    $('#contTelefone').iMask({
                type : 'fixed'
                , mask : ' (99) 9999-99999'
            });



      }); 
        
    </script> 
