    {% load staticfiles %}
    <div class="container cabecalho">
        <div class="grid2 first"><a href="/" title="Rabo do Lagarto" id="logo"><img src="{% static "img/logo.gif" %}" alt="Rabo do Lagarto logo" /></a> </div>
        <div class="grid10 menu {% block menu-selecionado %} {%endblock %}">
            <ul>
           <li class="pousada"><a href="pousada.html"><img src="{% static "img/icone-pousada.png" %}" />A POUSADA</a></li>
           <li class="suites"><a href="pousada.html" ><img src="{% static "img/icone-suites.png" %}" />SUÍTES</a></li>
           <li class="estrutura"><a href="pousada.html" ><img src="{% static "img/icone-estrutura.png" %}" />ESTRUTURA</a></li>
           <li class="locatizacao"><a href="pousada.html" ><img src="{% static "img/icone-localizacao.png" %}" />LOCALIZAÇÃO</a></li>
            </ul>
        </div>
    </div>

