{% load staticfiles %}
 <div class="container">
    <div class="grid9 menu submenu {% block submenu_selecionado %}{%endblock%} first">
         <ul>
       <li class="home"><a href="/" >HOME</a></li>
       <li class="contato"><a  href="#" onclick="toogle_menu('contato');return false;" >CONTATO</a></li>
       <li class="reservas"><a href="#" onclick="toogle_menu('reservas');return false;" >RESERVAS</a></li>
       <li class="tarifas"><a  href="#" onclick="toogle_menu('tarifas');return false;"  >TARIFAS</a></li>
        </ul>  
    </div>

    <div class="grid3">
        <p class="flag"><a href="/troca-idioma"><img src="{% static "img/flag.png" %}"/></a></p>
    </div>
</div>


<script>
function toogle_menu(menu){
        $('div.submenu li').removeClass("sombra");
        $("li."+menu).addClass("sombra");
        $('div.menu-ativo').fadeOut();
        $('div.'+menu).addClass("menu-ativo");
        $('div.'+menu).fadeIn();
       window.scrollBy(0,400); 
}
</script>

