{% load static %}
{% load i18n %}{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
{% get_static_prefix as STATIC_PREFIX %}
 <div class="container">
    <div class="grid9 menu submenu {% block submenu_selecionado %}{%endblock%} first">
         <ul>
       <li class="home"><a href="/" >HOME</a></li>
       <li class="contato"><a  href="#" onclick="toogle_menu('contato');return false;" >CONTATO</a></li>
       <li class="reservas"><a href="#" onclick="toogle_menu('reservas');return false;" >RESERVAS</a></li>
       <li class="tarifas"><a  href="#" onclick="toogle_menu('tarifas');return false;"  >TARIFAS</a></li>
        </ul>  
    </div>

    <div class="grid3">
 <form id="lang" action="/i18n/setlang/" method="post">
    {% ifequal LANGUAGES.1.0 LANGUAGE_CODE %}
        <input type="hidden" value="{{ LANGUAGES.0.0}}" name="language"/>
        {% else %}
            <input type="hidden" value="{{ LANGUAGES.1.0}}" name="language"/>
    {% endifequal %}
{% csrf_token %}
    </form>
        <p class="flag"><a href="javascript:$('#lang').submit();"><img src="{{ STATIC_PREFIX }}img/flag-{{LANGUAGE_CODE}}.png" /></a></p>
        <div class="fb-like" style="margin-top:25px;margin-right:20px;float:right;" data-href="http://www.rabodolagarto.com.br" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>

    </div>
</div>

<div class="menu-ativo"></div>
<script>
var scroll=true;
function toogle_menu(menu){
        $('div.submenu li').removeClass("sombra");
        $("li."+menu).addClass("sombra");
        if (scroll){
            window.scrollBy(0,400); 
            scroll=false;
        }
        $('div.menu-ativo').hide();
        $('div.'+menu).addClass("menu-ativo");
        $('div.'+menu).fadeIn();
}
</script>

