{%  load staticfiles  %}
<div class="reservas" id="reservas" style="display:none;">
    <div class="col1 first">
        
        <div class="borda-sombreada">
            <p><span style="color:#333;font-weight:normal;">Para reservar</span>, pedimos que seja efetuado um depósito de 50% da diária e nos envie o comprovante desse depósito por email para que sua reserva seja confirmada. Cobramos 10% sobre o total das despesas. <span style="color:#333;font-weight:normal;">Não aceitamos cartão de crédito.</span></p>
            <p>Lembramos que só hospedamos crianças a partir dos 14 anos de idade. Ainda não estamos preparados para receber nossos pequenos hóspedes.</p>
            <p>Verifique a nossa disponibilidade de vagas. </p>
            <p>Teremos o maior prazer em atende-lo também pelo nosso telefone: </p>
            <p class="telefone"><span>55 27</span>  3248-2383<br/>9942-6121</p>
        </div>
    </div>
   
    <div class="col2">

            </div>
</div>

