{%  load static  %}
{% load i18n %}
{% get_static_prefix as STATIC_PREFIX %}

<div class="reservas reserva1" id="reservas" style="display:none;">
    <div class="col1 grid6 first">
        
        <div class="borda-sombreada">
            {% blocktrans %}
            <p><span style="color:#333;font-weight:normal;">Para reservar</span>, pedimos que seja efetuado um depósito de 50% da diária e nos envie o comprovante desse depósito por email para que sua reserva seja confirmada. Cobramos 10% sobre o total das despesas.</p>
            <p>Lembramos que só hospedamos crianças a partir dos 14 anos de idade. Ainda não estamos preparados para receber nossos pequenos hóspedes.</p>
            <p>Verifique a nossa disponibilidade de vagas. </p>
            <p>Teremos o maior prazer em atende-lo também pelo nosso telefone: </p>
            {% endblocktrans %}
            <p class="telefone"><span>55 27</span>  3248-2383<br/>9942-6121</p>
        </div>
    </div>
   
    <div class="col2 grid6" style="display:none">
        <form id="formReservas" action="/formreservas/" method="post">
 {% csrf_token %}
        <p class="error nome" style="display:none">Informe seu nome.</p>
        <label for="resNome">{% trans "Nome:" %}</label>
        <input type="textbox" id="resNome" name="nome" />
           
        <p class="error suite" style="display:none">Escolha uma suíte.</p>
        <label for="resSuite">{% trans "Nome da Suíte:" %}</label>
        <select id="resSuite" name="suite">
            <option value="">{% trans "-- Escolha uma suíte --" %}</option>
            <option value="Vó Chica">Vó Chica</option>
            <option value="Zermatt">Zermatt</option>
            <option value="Amadeu">Amadeu</option>
            <option value="Baviera">Baviera</option>
            <option value="Pomeranea">Pomerânea</option>
            <option value="Aimorés">Aimorés</option>
            <option value="Piazza Navona">Piazza Navona</option>
            <option value="Mosteiro dos Jerônimos">Mosteiro dos Jerônimos</option>
            <option value="Bruges">Bruges</option>
            <option value="Rembrandt">Rembrandt</option>
            <option value="Maria Antonieta">Maria Antonieta</option>
            <option value="D´Ouro">D´Ouro</option>
            <option value="São Paulim">São Paulim</option>
            <option value="Carrara">Carrara</option>
            <option value="Provence">Provence</option>
            <option value="Mamma Amalfi">Mamma Amalfi</option>
            <option value="Toscana">Toscana</option>
        </select>

        <p class="error periodo" style="display:none">Marque os periodos que deseja  reservar.</p>
        <label for="periodo">{% trans "Periodo:" %}</label>
        <input type="textbox" id="periodo" name="periodo" />

        <p class="error email" style="display:none">Informe seu email.</p>
        <label for="resEmail">{% trans "Email:" %}</label>
        <input type="textbox" id="resEmail" name="email" />


        <p class="error phone" style="display:none">Informe seu telefone</p>
        <label for="resTelefone">{% trans "Telefone:" %}</label>
        <input type="textbox" id="resTelefone" name="telefone" />
        
        <p class="botao">reservas@rabodolagarto.com.br <input type="submit" value="{% trans "enviar" %}"></p>

        </form>
    </div>
</div>


    <script> 
function valida_reservas(){
            $('.error').hide();  
            var name = $("#resNome").val();  
            if (name == "") {  
            $("#formReservas p.nome").show();  
            $("#resNome").focus();  
                return false;  
            }  

            

            var suite = $("#resSuite").val();  
            if (suite == "") {  
                $("#formReservas p.suite").show();  
                $("#resSuite").focus();  
            return false;  
            }
 
            var periodo = $("#periodo").val();  
            if (periodo == "") {  
                $("#formReservas p.periodo").show();  
                $("#periodo").focus();  
            return false;  
            }


            var email = $("#resEmail").val();  
            if (email == "") {  
            $("#formReservas p.email").show();  
            $("#resEmail").focus();  
            return false;  
            }  
        
            var phone = $("#resTelefone").val();  
            if (phone == "") {  
                $("#formReservas p.phone").show();  
                $("#resTelefone").focus();  
            return false;  
            }

                      
            return true;
}

        // wait for the DOM to be loaded 
        $(document).ready(function() { 
            $('#formReservas').ajaxForm({ 
                beforeSubmit: valida_reservas,
                dataType: "json",
                success: function(data){
                    if (data.erro){ 
                        $(".error").hide();
                        $("#formReservas p.email").show()
                        $("#resEmail").focus();
                    }else{
                        alert(data.message);
                        window.location="/";
                    }
               }
           }); 

            $("#periodo").datepick({multiSelect:999}); 
           
            $('#resTelefone').iMask({
                type : 'fixed'
                , mask : ' (99) 9999-99999'
            });


             
            }); 
    </script> 
