{%  load static  %}
{% get_static_prefix as STATIC_PREFIX %}

<div class="reservas reserva1" id="reservas" style="display:none;">
    <div class="col1 grid6 first">
        
        <div class="borda-sombreada">
            <p><span style="color:#333;font-weight:normal;">Para reservar</span>, pedimos que seja efetuado um depósito de 50% da diária e nos envie o comprovante desse depósito por email para que sua reserva seja confirmada. Cobramos 10% sobre o total das despesas. <span style="color:#333;font-weight:normal;">Não aceitamos cartão de crédito.</span></p>
            <p>Lembramos que só hospedamos crianças a partir dos 14 anos de idade. Ainda não estamos preparados para receber nossos pequenos hóspedes.</p>
            <p>Verifique a nossa disponibilidade de vagas. </p>
            <p>Teremos o maior prazer em atende-lo também pelo nosso telefone: </p>
            <p class="telefone"><span>55 27</span>  3248-2383<br/>9942-6121</p>
        </div>
    </div>
   
    <div class="col2 grid6">
        <form id="formReservas">

        <label for="id_nome">Nome:</label>
        <input type="textbox" id="id_nome" name="nome" />
           
        <label for="id_datanascimento">Data Nascimento:</label>
        <input type="textbox" id="id_datanascimento" name="datanascimento" />


        <label for="id_suite">Nome da Suíte:</label>
        <select id="id_suite" name="suite">
            <option value="Suíte Loft">Suíte Loft</option>
            <option value="Suíte Estúdio">Suíte Estúdio</option>
            <option value="Suíte Confort">Suíte Confort</option>
        </select>

        <label for="periodo">Periodo:</label>
        <input type="textbox" id="periodo" name="periodo" />
        <label for="id_email">Email:</label>
        <input type="textbox" id="id_email" name="email" />


        <label for="id_telefone">Telefone:</label>
        <input type="textbox" id="id_telefone" name="telefone" />
        
        <p class="botao">rabodolagarto@hotmail.com <input type="submit" value="enviar"></p>

        </form>
    </div>
</div>


    <script> 
        // wait for the DOM to be loaded 
        $(document).ready(function() { 
            $('#formReservas').ajaxForm(function() { 
                alert("teste!"); 
            }); 

            $("#periodo").datepick({multiSelect:999}); 
            
            
            }); 
    </script> 
