
{% load staticfiles %}

<div class="container" id="slide" style="visibility:hidden";>
    <div class="slider">
        <div class="images" id="images">

                <div class="grupo">
                    <img src="{% static "img/capa/slider1.jpg" %}" /> 
                    <div class="leg" id="leg1">
                        <div class="caixa opa50"> </div>
                        <p class="chamada">Sofisticação e Luxo</p>
                        <p class="frase">Conheça nossas suítes mais que especiais!</p>
                    </div>
                </div>

                <div class="grupo">
                    <img src="{% static "img/capa/slider2.jpg" %}" /> 
                    <div class="leg" id="leg2">
                        <div class="caixa opa50"> </div>
                        <p class="chamada">Um lugar incrível</p>
                        <p class="frase">Um dos melhores climas do mundo. Saiba o porquê!</p>
                    </div>
                </div>

                <div class="grupo">
                    <img src="{% static "img/capa/slider3.jpg" %}" /> 
                    <div class="leg" id="leg3">
                        <div class="caixa opa50"> </div>
                        <p class="chamada">A Pousada e você</p>
                        <p class="frase">Estamos prontos para recebe-los! Saiba mais!</p>
                    </div>
                </div>

                <div class="grupo">
                    <img src="{% static "img/capa/slider4.jpg" %}" /> 
                    <div class="leg" id="leg4">
                        <div class="caixa opa50"> </div>
                        <p class="chamada">Atenção em cada detalhe!</p>
                        <p class="frase">Conheça um pouco mais sobre nossa estrutura e nossos serviços.</p>
                    </div>
                </div>
        </div>
        <div class="botoes">
            <div class="prev" id="prev"></div>
            <div class="next" id="next"></div>
              </div>
</div>

<script>
$(window).load(function() {
  // Handler for .ready() called.
    $("#slide").css("visibility","visible");
    $('#images').cycle(
    { 
        fx:'fade',
        next:'#next',
        prev:'#prev'
    }    
    );

});
</script>

