{% load i18n %}{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}

{% load static %}
{% load cropping %}
{% get_static_prefix as STATIC_PREFIX %}
<div class="container" id="slide" style="visibility:hidden;">
    <div class="slider">
        <div class="images" id="images">

		
    {% ifequal LANGUAGES.1.0 LANGUAGE_CODE %}
		{% for slide in sliders %}
                <div class="grupo">
                    <img src="{% cropped_thumbnail slide "cropping" %}"  />
                    <div class="leg" id="leg{{ slide.ordem }}">
                        <div class="caixa opa50"> </div>	
                        <p class="chamada">{{ slide.legenda_em_ingles }}</p>
                    </div>
                </div>
		{% endfor %}
     {% else %}
		{% for slide in sliders %}
                <div class="grupo">
                    <img src="{% cropped_thumbnail slide "cropping" %}"  />
                    <div class="leg" id="leg{{ slide.ordem }}">
                        <div class="caixa opa50"> </div>	
                        <p class="chamada">{{ slide.legenda }}</p>
                    </div>
                </div>
		{% endfor %}

     {% endifequal %}

        </div>
        <div class="botoes">
            <div class="prev" id="prev"></div>
            <div class="next" id="next"></div>
              </div>
</div>

<script>
var slide_n=0;
function onAfter1(curr,next,opts) {
        slide_n=opts.currSlide + 1;
}
$(window).load(function() {
  // Handler for .ready() called.
    $("#slide").css("visibility","visible");
    $('#images').cycle(
    { 
        fx:'fade',
        timeout: 5000,
        next:'#next',
        prev:'#prev',
            after: onAfter1
    }    
    );

    $("div.botoes").click(function(){ 
	{% for slide in sliders %}
        if (slide_n == {{ slide.ordem }} ) window.location = "{{ slide.url }}";
	{% endfor %}
        });
});
</script>

