{%  load static  %}
{% get_static_prefix as STATIC_PREFIX %}
<div class="tarifas" id="tarifas" style="display:none;">
    <div class="col1 first">
        
        <div class="galeria"> 
              <div>
                    <img src="{{ STATIC_PREFIX }}img/tarifas/foto1.jpg"  />
                    <p></p>
              </div>
              <div>
                    <img src="{{ STATIC_PREFIX }}img/tarifas/foto2.jpg"  />
                    <p>Bistrô Chez Lagarto</p>
              </div>
              <div>
                    <img src="{{ STATIC_PREFIX }}img/tarifas/foto3.jpg"  />
                    <p>Suíte Loft Amadeus</p>
              </div>
        </div>
        <ul class="nav"></ul> 
    </div>
   
    <div class="col2">
        <h2>Suítes Confort</h2>
        <div>
            <p>São suítes de menor porte, apenas duas têm varanda - Toscana e Provence - e a Provence tem 
lareira também. Porém, todas as confort têm a mesma qualidade de serviços de todas as categorias: quarto com banheiro privativo, frigobar, TV LCD, 147 canais SKY HDTV,internet  wireless gratuita, lençois de algodão egípcio, peças de enxoval Trussardi, Alexandre Herchcovitch e Buddemeyer, edredon de pluma de ganso, roupões de banho, secador de cabelo, shampoo e condicionador da L'Occitane.</p>
            <p class="green">Conheça tudo sobre nossas suítes confort!<br />
                <a href="/suites/?suite=douro">D´Ouro</a>, 
                <a href="/suites/?suite=saopaulim">São Paulim</a>, 
                <a href="/suites/?suite=carrara">Carrara</a>, 
                <a href="/suites/?suite=provence">Provence</a>, 
                <a href="/suites/?suite=mamma">Mamma Amalfi</a> 
                e 
                <a href="/suites/?suite=toscana">Toscana.</a>
            </p>
            <p class="tarifa">Tarifa/dia: R$ <span class="preco">480</span></p>
            <p class="clear"></p>
    </div>
       
        <h2>Suítes Estúdio</h2>
        <div>
            <p>Todas têm sala, varanda e lareira, quarto com banehiro privativo, frigobar, TV LCD, 147 canais SKY HDTV,internet wireless gratuita, lençois de algodão egípcio, peças de enxoval Trussardi, Alexandre Herchcovitch e Buddemeyer, edredon de pluma de ganso, roupões de banho, secador de cabelo, shampoo e condicionador da L'Occitane.</p>
            <p class="green">Conheça tudo sobre nossas suítes confort!<br />
                <a href="/suites/?suite=piazza">Piazza Navona</a>, 
                <a href="/suites/?suite=mosteiro">Mosteiro dos Jerónimos</a>, 
                <a href="/suites/?suite=bruges">Bruges</a>, 
                <a href="/suites/?suite=rembrandt">Rembrandt</a> e 
                <a href="/suites/?suite=antonieta">Maria Antonieta</a>, 
            </p>
            <p class="tarifa">Tarifa/dia: R$ <span class="preco">550</span></p>
            <p class="clear"></p>
        </div>

        <h2>Suítes Loft</h2>
        <div>
            <p>Todas têm banheira de ofurô OU hidro, com lareira e varanda, quarto com banehiro privativo, frigobar, TV LCD, 147 canais SKY HDTV,internet wireless gratuita, lençois de algodão egípcio, peças de enxoval Trussardi, Alexandre Herchcovitch e Buddemeyer, edredon de pluma de ganso, roupões de banho, secador de cabelo, shampoo e condicionador da L'Occitane.</p>
            <p class="green">Conheça tudo sobre nossas suítes confort!<br />
                <a href="/suites/?suite=vochica">Vó Chica</a>, 
                <a href="/suites/?suite=zermatt">Zermatt</a>, 
                <a href="/suites/?suite=amadeus">Amadeus</a>, 
                <a href="/suites/?suite=baviera">Baviera</a>, 
                <a href="/suites/?suite=pomeranea">Pomerânea</a> e  
                <a href="/suites/?suite=aymores">Aymorés</a> 
            </p>
            <p class="tarifa">Tarifa/dia: R$ <span class="preco">750</span></p>
            <p class="clear"></p>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('div.galeria').cycle({
        fx:'fade',
        pager:"ul.nav",
        pagerAnchorBuilder: function(idx, slide) {
             return '<li><a href="#"><img src="' + $(slide).find("img").attr("src") + '" width="40" height="40" /></a></li>'; 
        } 
    });
});
</script>

