{%  load static  %}
{%  load i18n %}
{% get_static_prefix as STATIC_PREFIX %}
<div class="tarifas" id="tarifas" style="display:none;">
    <div class="col1 first">
        <style>
		.tarifas .galeria  img { width:406px;height:406px;}
	</style>
        <div class="galeria"> 
              <div>
                    <img src="{{ STATIC_PREFIX }}img/tarifas/tarifa2.png"  />
                    <p></p>
              </div>
              <div>
                    <img src="{{ STATIC_PREFIX }}img/tarifas/tarifa1.png"  />
                    <p>Bistrô Chez Lagarto</p>
              </div>
              <div>
                    <img src="{{ STATIC_PREFIX }}img/tarifas/tarifa3.png"  />
                    <p>Suíte Loft Amadeus</p>
              </div>
        </div>
        <ul class="nav"></ul> 
    </div>
    
    <div class="col2">
	{% load eventos_tags %}   
	{% tipos_suites %}
    </div>
</div>
<script>
$(document).ready(function() {
    $('div.galeria').cycle({
        fx:'fade',
        pager:"ul.nav",
        pagerAnchorBuilder: function(idx, slide) {
             return '<li><a href="#"><img src="' + $(slide).find("img").attr("src") + '" width="40" height="40" /></a></li>'; 
        } 
    });
});
</script>

