{%  load staticfiles  %}
<div class="tarifas" id="tarifas" style="display:none;">
    <div class="col1 first">
        
        <div class="galeria"> 
              <div>
                    <img src="{% static "img/tarifas/foto1.jpg" %}" />
                    <p></p>
              </div>
              <div>
                    <img src="{% static "img/tarifas/foto2.jpg" %}" />
                    <p>Bistrô Chez Lagarto</p>
              </div>
              <div>
                    <img src="{% static "img/tarifas/foto3.jpg" %}" />
                    <p>Suíte Loft Amadeus</p>
              </div>
        </div>
        <ul class="nav"></ul> 
    </div>
   
    <div class="col2">
        <h2>Suítes Confort</h2>
        <div>
            <p>São suítes de menor porte, apenas duas têm varanda - Toscana e Provence - e a Provence tem 
lareira também. Porém, todas as confort têm a mesma qualidade de serviços de todas as categorias: quarto com banheiro privativo, frigobar, TV LCD, 147 canais SKY HDTV,internet  wireless gratuita, lençois de algodão egípcio, peças de enxoval Trussardi, Alexandre Herchcovitch e Buddemeyer, edredon de pluma de ganso, roupões de banho, secador de cabelo, shampoo e condicionador da L'Occitane.</p>
            <p class="green">Conheça tudo sobre nossas suítes confort!<br />D´Ouro, São Paulim, Carrara, Provence,  Mamma Amalfi e Toscana.</p>
            <p class="tarifa">Tarifa/dia: R$ <span class="preco">480</span></p>
            <p class="clear"></p>
    </div>
       
        <h2>Suítes Estúdio</h2>
        <div>
            <p>Todas têm sala, varanda e lareira, quarto com banehiro privativo, frigobar, TV LCD, 147 canais SKY HDTV,internet wireless gratuita, lençois de algodão egípcio, peças de enxoval Trussardi, Alexandre Herchcovitch e Buddemeyer, edredon de pluma de ganso, roupões de banho, secador de cabelo, shampoo e condicionador da L'Occitane.</p>
            <p class="green">Conheça tudo sobre nossas suítes confort!<br />Piazza Navona, Mosteiro dos Jerónimos, Bruges, Rembrandt e Maria Antonieta</p>
            <p class="tarifa">Tarifa/dia: R$ <span class="preco">550</span></p>
            <p class="clear"></p>
        </div>

        <h2>Suítes Loft</h2>
        <div>
            <p>Todas têm banheira de ofurô OU hidro, com lareira e varanda, quarto com banehiro privativo, frigobar, TV LCD, 147 canais SKY HDTV,internet wireless gratuita, lençois de algodão egípcio, peças de enxoval Trussardi, Alexandre Herchcovitch e Buddemeyer, edredon de pluma de ganso, roupões de banho, secador de cabelo, shampoo e condicionador da L'Occitane.</p>
            <p class="green">Conheça tudo sobre nossas suítes confort!<br />Vó Chica, Zermatt, Amadeus, Baviera, Pomerânea e Aymorés</p>
            <p class="tarifa">Tarifa/dia: R$ <span class="preco">750</span></p>
            <p class="clear"></p>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('div.galeria').cycle({
        fx:'fade',
        pager:"ul.nav",
        pagerAnchorBuilder: function(idx, slide) {
             return '<li><a href="#"><img src="' + $(slide).find("img").attr("src") + '" width="40" height="40" /></a></li>'; 
        } 
    });
});
</script>

